.top-header {
    background-color: $color-dark;
    &-content {
        height: 100%;
        p {
            font-size: 0.875rem;
            a {
                color: $color-gray;
                transition: all ease .25s;
                &:hover {
                    color: $color-white;
                }
            }
        }
        .content-logo {
            width: 150px;
            img {
                max-width: 100%;
            }
        }
    }
}