@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

$font-family: 'Manrope', sans-serif;

$color-body-h: rgba(31, 41, 54, 1);
$color-body-p: rgba(31, 41, 54, .75);
$color-border: rgba(213, 215, 218, 1);
$color-accent: rgba(98, 157, 77, 1);
$color-dark: rgba(29, 37, 45, 1);
$color-gray: rgba(256, 256, 256, .5);
$color-white: rgba(256, 256, 256, 1);